doctype html(lang='en')
head
    meta(charset='utf-8')    
    title RestingRubiks API
  body
    h1 Welcome to the RestingRubik API     
    h2 POST forms   
    ul
      li
        a(href=serveraddress+'moarcubes') Post cube      
      li
        a(href=serveraddress+'moarguides') Post guide      
      li
        a(href=serveraddress+'moaralgs') Post algorithms   
    h2 GET sites   
    ul
      li
        a(href=serveraddress+'api/cube') Cubes     
      li
        a(href=serveraddress+'api/alg') Algorithms     
      li
        a(href=serveraddress+'api/guide') Guides
